@use "../index" as base;

.signup-container {
  margin: 1.5rem auto 0;
  width: 500px;
  text-align: center;
  padding: 1rem 3rem;
  background: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;

  .logo {
    display: block;
    margin: 0 auto 3rem;
    width: 150px;
    height: auto;
  }

  h1 {
    font-family: base.$subheader2-font;
    font-weight: 500;
    font-size: 1.8rem;
    margin: 0 auto 1rem;
    letter-spacing: 0.06rem;
  }

  p {
    font-family: base.$body-font;
    font-weight: 400;
    font-size: 1.1rem;
    color: #555555;
    margin: 0 auto 1.5rem;
  }

  form {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-top: 30px;

    label {
      font-family: base.$body-font;
      font-weight: 400;
      font-size: 0.9rem;
      margin-bottom: 0.5rem;
    }

    .name-container {
      display: flex;
      justify-content: space-between;
      margin-bottom: 1rem;
      gap: 1rem;

      .name {
        display: flex;
        flex-direction: column;

        .name-input {
          width: 100%;
          padding: 0.8rem 0;
          border: none;
          border-bottom: 1px solid base.$primary-color;
          font-family: base.$body-font;
          font-size: 0.9rem;

          &::placeholder {
            color: #afafaf;
          }
        }
      }
    }

    .email-input,
    textarea {
      width: 100%;
      padding: 0.8rem 0;
      margin-bottom: 1rem;
      border: none;
      border-bottom: 1px solid base.$primary-color;
      font-family: base.$body-font;
      font-size: 0.9rem;

      &::placeholder {
        color: #afafaf;
      }
    }

    .password-container {
      position: relative;
      width: 100%;

      .password-input,
      textarea {
        width: 100%;
        padding: 0.8rem 0;
        margin-bottom: 1rem;
        border: none;
        border-bottom: 1px solid base.$primary-color;
        font-family: base.$body-font;
        font-size: 0.9rem;
        padding-right: 70px;

        &::placeholder {
          color: #afafaf;
        }
      }

      svg {
        position: absolute;
        top: 12px;
        right: 30px;

        &:hover {
          cursor: pointer;
        }
      }
    }

    .signup-button {
      width: 100%;
      font-family: base.$subheader2-font;
      background-color: base.$primary-color;
      color: #fff;
      padding: 1em 2em;
      border: none;
      font-weight: 400;
      font-size: 1rem;
      letter-spacing: 0.05em;
      transition: all 0.5s ease-in-out;
      border-radius: 5px;

      &:hover {
        cursor: pointer;
        background-color: #acacac;
        color: base.$tertiary-color;
        transform: scale(1);
      }
    }
  }

  .google-signup {
    margin-top: 1.5rem;
    text-align: center;

    p {
      font-family: base.$body-font;
      font-weight: 400;
      font-size: 0.95rem;
      color: #494949;
      margin-bottom: 0.5rem;
    }

    button {
      width: 100%;
      background-color: #ffffff;
      border: 1px solid #dbdbdb;
      font-family: base.$subheader2-font;
      padding: 0.8rem 1.2rem;
      border-radius: 5px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: 400;
      font-size: 1rem;
      letter-spacing: 0.05em;

      img {
        width: 20px;
        height: auto;
        margin-right: 0.5rem;
      }

      &:hover {
        cursor: pointer;
        background-color: #fdd146;
        transform: scale(1);
      }
    }
  }

  .signup-footer {
    margin-top: 2rem;
    font-family: base.$body-font;
    font-weight: 400;
    font-size: 1rem;
    color: #555555;

    .link {
      color: base.$primary-color;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.signup-footer-text {
  align-items: center;
  text-align: center;
  margin-top: 1rem;
  font-family: base.$body-font;
  font-weight: 400;
  font-size: 0.9rem;
  color: #999999;

  p {
    margin: auto;
  }
}
