@use "../index" as base;

.signin-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  background-color: #f1f1f1;
  overflow-y: hidden;

  .signin-container {
    width: 500px;
    margin: 3rem auto 0rem;
    text-align: center;
    padding: 2.5rem 3rem;
    background: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;

    .error-message {
      font-family: base.$body-font;
      font-size: 0.6rem;
      color: rgb(255, 0, 0);
    }

    .logo {
      display: block;
      margin: 0 auto 4rem;
      width: 150px;
      height: auto;
    }

    h1 {
      font-family: base.$subheader2-font;
      font-weight: 500;
      font-size: 1.8rem;
      margin: 0 auto 1rem;
      letter-spacing: 0.06rem;
    }

    p {
      font-family: base.$body-font;
      font-weight: 400;
      font-size: 1.1rem;
      color: #555555;
      margin: 0 auto 1.5rem;
    }

    span {
      font-family: base.$body-font;
      font-size: 0.8rem;
      font-weight: 500;
    }

    form {
      display: flex;
      flex-direction: column;
      text-align: left;
      margin-top: 30px;

      label {
        font-family: base.$body-font;
        font-weight: 400;
        font-size: 0.9rem;
        margin-bottom: 0.5rem;
      }

      .email-input,
      textarea {
        width: 100%;
        padding: 1.2rem 0.4rem 0.4rem;
        margin-bottom: 1rem;
        border: 1px solid base.$primary-color;
        font-family: base.$body-font;
        font-size: 0.9rem;
        border-radius: 5px;

        &::placeholder {
          color: #afafaf;
        }
      }

      .password-container {
        position: relative;
        width: 100%;

        .password-input,
        textarea {
          width: 100%;
          padding: 1.2rem 0.4rem 0.4rem;
          margin-bottom: 1rem;
          border: 1px solid base.$primary-color;
          font-family: base.$body-font;
          font-size: 0.9rem;
          padding-right: 70px;
          border-radius: 5px;

          &::placeholder {
            color: #afafaf;
          }
        }

        svg {
          position: absolute;
          top: 12px;
          right: 30px;

          &:hover {
            cursor: pointer;
          }
        }
      }

      .signin-button {
        width: 100%;
        font-family: base.$subheader2-font;
        background-color: base.$primary-color;
        color: #fff;
        padding: 1em 2em;
        border: none;
        font-weight: 400;
        font-size: 1rem;
        letter-spacing: 0.05em;
        transition: all 0.5s ease-in-out;
        border-radius: 5px;

        &:hover {
          cursor: pointer;
          background-color: #acacac;
          color: base.$tertiary-color;
          transform: scale(1);
        }
      }
    }

    .loading {
      --speed-of-animation: 0.9s;
      --gap: 6px;
      --first-color: #000000;
      --second-color: #505050;
      --third-color: #f6bb02;
      --fourth-color: #505050;
      --fifth-color: #000000;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100px;
      gap: 6px;
      height: 100px;
      margin: 1rem auto;
    }

    .loading span {
      width: 4px;
      height: 50px;
      background: var(--first-color);
      animation: scale var(--speed-of-animation) ease-in-out infinite;
    }

    .loading span:nth-child(2) {
      background: var(--second-color);
      animation-delay: -0.8s;
    }

    .loading span:nth-child(3) {
      background: var(--third-color);
      animation-delay: -0.7s;
    }

    .loading span:nth-child(4) {
      background: var(--fourth-color);
      animation-delay: -0.6s;
    }

    .loading span:nth-child(5) {
      background: var(--fifth-color);
      animation-delay: -0.5s;
    }

    @keyframes scale {
      0%,
      40%,
      100% {
        transform: scaleY(0.05);
      }

      20% {
        transform: scaleY(1);
      }
    }

    .google-signin {
      margin-top: 1.5rem;
      text-align: center;

      p {
        font-family: base.$body-font;
        font-weight: 400;
        font-size: 0.95rem;
        color: #494949;
        margin-bottom: 0.5rem;
      }

      .google-btn {
        width: 100%;
        background-color: #ffffff;
        border: 1px solid #dbdbdb;
        font-family: base.$subheader2-font;
        padding: 0.8rem 1.2rem;
        border-radius: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 400;
        font-size: 1rem;
        letter-spacing: 0.05em;

        img {
          width: 20px;
          height: auto;
          margin-right: 0.5rem;
        }

        &:hover {
          cursor: pointer;
          background-color: #fdd146;
          transform: scale(1);
        }
      }
    }

    .signin-footer {
      margin-top: 2rem;
      font-family: base.$body-font;
      font-weight: 400;
      font-size: 1rem;
      color: #555555;

      .link {
        color: base.$primary-color;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  .signin-footer-text {
    align-items: center;
    text-align: center;
    margin-top: 1rem;
    font-family: base.$body-font;
    font-weight: 400;
    font-size: 0.9rem;
    color: #999999;

    p {
      margin: auto;
    }
  }
}

.signin-page-mobile {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  background-color: #fff;
  overflow-y: hidden;

  .signin-container-mobile {
    width: 500px;
    // margin: 5rem auto;
    text-align: center;
    padding: 2.5rem 3rem;
    background: #ffffff;
    border-radius: 10px;

    .error-message-mobile {
      font-family: base.$body-font;
      font-size: 0.6rem;
      color: rgb(255, 0, 0);
    }

    .logo-mobile {
      display: block;
      margin: 0 auto 4rem;
      width: 150px;
      height: auto;
    }

    h1 {
      font-family: base.$subheader2-font;
      font-weight: 500;
      font-size: 1.8rem;
      margin: 0 auto 1rem;
      letter-spacing: 0.06rem;
    }

    p {
      font-family: base.$body-font;
      font-weight: 400;
      font-size: 1.1rem;
      color: #555555;
      margin: 0 auto 1.5rem;
    }

    form {
      display: flex;
      flex-direction: column;
      text-align: left;
      margin-top: 30px;

      label {
        font-family: base.$body-font;
        font-weight: 400;
        font-size: 0.9rem;
        margin-bottom: 0.5rem;
      }

      input,
      textarea {
        width: 100%;
        padding: 1.2rem 0.4rem 0.4rem;
        margin-bottom: 1rem;
        border: 1px solid base.$primary-color;
        font-family: base.$body-font;
        font-size: 0.9rem;
        border-radius: 5px;

        &::placeholder {
          color: #afafaf;
        }
      }

      .password-container-mobile {
        position: relative;
        width: 100%;
        margin-bottom: 15px;

        input,
        textarea {
          width: 100%;
          padding: 1.2rem 0.4rem 0.4rem;
          margin-bottom: 1rem;
          border: 1px solid base.$primary-color;
          font-family: base.$body-font;
          font-size: 0.9rem;
          padding-right: 70px;
          border-radius: 5px;

          &::placeholder {
            color: #afafaf;
          }
        }

        svg {
          position: absolute;
          top: 12px;
          right: 30px;

          &:hover {
            cursor: pointer;
          }
        }
      }

      .signin-button-mobile {
        width: 100%;
        font-family: base.$subheader2-font;
        background-color: base.$primary-color;
        color: #fff;
        padding: 1em 2em;
        border: none;
        font-weight: 400;
        font-size: 1rem;
        letter-spacing: 0.05em;
        transition: all 0.5s ease-in-out;
        border-radius: 5px;

        &:hover {
          cursor: pointer;
          background-color: #acacac;
          color: base.$tertiary-color;
          transform: scale(1);
        }
      }
    }

    .loading {
      --speed-of-animation: 0.9s;
      --gap: 6px;
      --first-color: #4c86f9;
      --second-color: #49a84c;
      --third-color: #f6bb02;
      --fourth-color: #f6bb02;
      --fifth-color: #2196f3;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100px;
      gap: 6px;
      height: 100px;
      margin: 1rem auto;
    }

    .loading span {
      width: 4px;
      height: 50px;
      background: var(--first-color);
      animation: scale var(--speed-of-animation) ease-in-out infinite;
    }

    .loading span:nth-child(2) {
      background: var(--second-color);
      animation-delay: -0.8s;
    }

    .loading span:nth-child(3) {
      background: var(--third-color);
      animation-delay: -0.7s;
    }

    .loading span:nth-child(4) {
      background: var(--fourth-color);
      animation-delay: -0.6s;
    }

    .loading span:nth-child(5) {
      background: var(--fifth-color);
      animation-delay: -0.5s;
    }

    @keyframes scale {
      0%,
      40%,
      100% {
        transform: scaleY(0.05);
      }

      20% {
        transform: scaleY(1);
      }
    }

    .google-signin-mobile {
      margin-top: 1.5rem;
      text-align: center;

      p {
        font-family: base.$body-font;
        font-weight: 400;
        font-size: 0.95rem;
        color: #494949;
        margin-bottom: 0.5rem;
      }

      .google-btn {
        width: 100%;
        background-color: #ffffff;
        border: 1px solid #dbdbdb;
        font-family: base.$subheader2-font;
        padding: 0.8rem 1.2rem;
        border-radius: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 400;
        font-size: 1rem;
        letter-spacing: 0.05em;

        img {
          width: 20px;
          height: auto;
          margin-right: 0.5rem;
        }

        &:hover {
          cursor: pointer;
          background-color: #fdd146;
          transform: scale(1);
        }
      }
    }

    .signin-footer-mobile {
      margin-top: 2rem;
      font-family: base.$body-font;
      font-weight: 400;
      font-size: 1rem;
      color: #555555;

      .link-mobile {
        color: base.$primary-color;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
  .signin-footer-text-mobile {
    align-items: center;
    text-align: center;
    margin-top: 1rem;
    font-family: base.$body-font;
    font-weight: 400;
    font-size: 0.9rem;
    color: #999999;

    p {
      margin: auto;
    }
  }
}
